/* @import "~bootstrap/dist/css/bootstrap.min.css";
*{
    margin: 0px;
    padding: 0px;
}
body,html{
    scroll-behavior: smooth;
}
.bloglist{
  
    box-shadow: 0 4px 8px 0 rgba(103,14,40,0.2), 0 6px 20px 0 rgba(103,14,40,0.19);
    text-align: center;
    border-radius: 5px;
    height: 230px;
  }

  .bloglist:hover {
    -ms-transform: scale(1.1); 
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
  }
  a{
      text-decoration: none;
      color: black;
  }

.top-spacer{
    height: 200px;
  }
  
  .image2{
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height:100%;
  }  */

  @import "~bootstrap/dist/css/bootstrap.min.css";
*{
    margin: 0px;
    padding: 0px;
}
body,html{
    scroll-behavior: smooth;
}
.bloglist{
  
    box-shadow: 0 4px 8px 0 rgba(103,14,40,0.2), 0 6px 20px 0 rgba(103,14,40,0.19);
    text-align: center;
    border-radius: 5px;
    height: 230px;
  }

  .bloglist:hover {
    -ms-transform: scale(1); /* IE 9 */
    -webkit-transform: scale(1); /* Safari 3-8 */
    transform: scale(1); 
  }
  a{
      text-decoration: none;
      color: black;
  }

.top-spacer{
    height: 200px;
  }
  /* .row{
      display: flex;
  }
  .column{
    flex-direction: row;
  } */
  .image2{
    float: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height:100%;
  } 
  .mainc{
    box-shadow: 0 4px 8px 0 rgba(103,14,40,0.2), 0 6px 20px 0 rgba(103,14,40,0.19);
  
  }
  .mainc p{
    text-align: center;
    margin: 5%;
  }